.map {
  background: url("./img/map-example.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
